---
import Navbar from "../components/Navbar.astro";
import IntroSection from "../components/IntroSection.astro"
import Skills from '../components/Skills.astro';
import Projects from "../components/Projects.astro";
import Studies from '../components/Studies.astro';
import Footer from '../components/Footer.astro';
import FontAwesome from '../components/FontAwesome.astro';
import "../styles/global.css";
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Portafolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Navbar />
    <main>
      <IntroSection />
      <Skills />
      <Projects />
      <Studies />
      <Footer >
    </main>
  </body>
</html>
