---
//import Hero from '../components/Hero.astro';
import Navbar from "../components/Navbar.astro";
//import About from "../components/About.astro";
//import HeroAbout from "../components/HeroAbout.astro"
import IntroSection from "../components/IntroSection.astro"
import Skills from '../components/Skills.astro';
import Studies from '../components/Studies.astro';
import "../styles/global.css";

---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Portafolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Navbar />
    <main>
      <IntroSection />
      <Skills />
      <Studies />
      <!-- Aquí irán Proyectos, Skills, Contacto, etc. -->
    </main>
  </body>
</html>
