---
import Navbar from '../components/Navbar.astro';
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Juan De Dios</title>
  </head>
  <body class="bg-gray-50 text-gray-900">
    <Navbar />
    <main class="p-4">
      <slot />
    </main>
  </body>
</html>
